* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Roboto",sans-serif;
}

/*INICIO HEADER*/

.nav{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    color: aqua;
    padding: 20px;
}

.nav-list a:hover{
    color:white;
}

/*FIN HEADER*/

/*INICIO MAIN*/
.main{
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
   
}

.main div{
    max-width: 50%;
    padding-left: 80px;
    padding-right: 80px;
}

.main div h1{
    font-size: 32px;
    margin-bottom: 14px;
}
.main div p{
    font-size: 18px;
}

.main img {
    max-width: 450px;
    border-radius: 8px;
}
/*FIN MAIN*/


/*INICIO NOSOTROS*/
.nosotros{
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    
   
}

.nosotros img {
    max-width: 450px;
    border-radius: 8px;
    padding-left: 80px;
}

.nosotros div{
    max-width: 50%;
    padding-left: 80px;
    padding-right: 80px;
}

.nosotros div h1{
    font-size: 32px;
    margin-bottom: 14px;
}

.nosotros-list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}


/*FIN NOSOTROS*/


/*INICIO EQUIPO*/
.equipo{
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}

.equipo h1{
    font-size: 32px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    padding-right: 250px;
    padding-bottom: 40px;
}

.equipo-list{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    list-style: none;

   padding-bottom: 20px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.equipo-list img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}
/*FIN EQUIPO*/


/*INICIO TESTIMONIOS*/

.testimonios{
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}
.testimonios h1{
    font-size: 32px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    padding-right: 250px;
    padding-bottom: 40px;
}

.testimonio-list{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    list-style: none;

    

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.testimonio-list img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

/*FIN TESTIMONIOS*/


/*INICIO CONTACTANOS*/
.contactanos{
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}
.contactanos h1{
    font-size: 32px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    padding-right: 250px;
    padding-bottom: 40px;
}

.contactanos-list{
    background-color: rgb(255, 255, 255);
    padding-left: 30%;
    
    list-style: none;
    vertical-align: top;
    
}
.contactanos-list li {
    margin-bottom: 15px;
}

.small-textbox{
    width: 35%;
    justify-content: center;
    align-items: center;
}
.big-textbox{
    width: 35%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.text{
    vertical-align: top;
}
.contactanos-button-list{
    padding-top: 20px;
    padding-left: 42%;
    
    list-style: none;
    vertical-align: top;
    display: flex;
    
}

.menu-item { 
    margin-right: 100px;
}
.contactanos-button{
    width: 100px;
    height: 30px;
}

/*FIN CONTACTANOS*/


/*INICIO REDES SOCIALES*/
/*FIN REDES SOCIALES*/


/*INICIO FOOTER*/
/*FIN FOOTER*/


