body{
    font-family: "Roboto",sans-serif;
}


/*INICIO HEADER*/

.nav{
    height: 106px;
    width: 100%;
    top: 24px;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    /*align-items: center;*/
    list-style: none;
    
}

.nav-list p{
    padding-left: 25px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    text-decoration: none;
    color: #000000;
    padding: 20px;
    
}

.nav-list a img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.arrow{
    /*position: absolute;*/
    width: 38.94px;
    height: 31px;
    padding-top: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.boy{
    /*position: absolute;*/
    width: 73px;
    height: 73px;
    
    padding-top: 30px;
    padding-right: 5%;
}
.plataforma{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
}
.linea{
    position: absolute;
    width: 100%;

    border: 1px solid #000000;
}


.clearfix{
    background-color: rgba(0,214,201,0.15);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix-2{
    background-color: rgba(211,195,255,0.53);
}


.clearfix-2::after {
    content: "";
    clear: both;
    display: table;
}
div.gallery{
    display: flex ;
    padding-left: 70px;
  }
div.gallery p{
    text-align: center;
}
