* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Roboto",sans-serif;
}


/*INICIO HEADER*/

.nav{
    height: 106px;
    width: 100%;
    top: 24px;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    /*align-items: center;*/
    list-style: none;
    
}

.nav-list p{
    padding-left: 25px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    text-decoration: none;
    color: #000000;
    padding: 20px;
    
}

.nav-list a img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.arrow{
    /*position: absolute;*/
    width: 38.94px;
    height: 31px;
    padding-top: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.boy{
    /*position: absolute;*/
    width: 73px;
    height: 73px;
    
    padding-top: 30px;
    padding-right: 5%;
}
.plataforma{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
}
.linea{
    position: absolute;
    width: 100%;

    border: 1px solid #000000;
}

/*FIN HEADER*/

/*PANTALLA JUEGO*/
.titulo-juego{
    
    padding-top: 11px;
    padding-left: 22px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}
.pantalla-juego{
    


    width: 380px;
    height: 179px;
    display: block;
    margin-top: 8px;
    margin-left: 22px;
    margin-right: 28px;

    background: #D9D9D9;
}
/*FIN PANTALLA JUEGO*/

/*BOTÓN COMPARTIR*/
.btn-compartir{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    width: 114px;
    height: 31px;

    background: #7BD5FB;
    border-radius: 5px;

    margin-left: 276px;
    margin-top: 12px;
}
/*FIN BOTÓN COMPARTIR*/

/*LOGROS*/
.titulo-logro{
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    padding-left: 22px;
    padding-top: 6px;
}
.logro-list{
    
    
    display: flex;
    align-items: center;
    list-style: none;

    /*position: absolute;
    top: 50.21%;
    left: 0%;
    right: 0%;*/
    padding-top: 26px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.logro-list .nombre-logro{
    font-size: 15px;
}

.logro-list .info-logro{
    font-size: 12.5px;
    
}

.logro-list .img-logro{
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}
/*FIN LOGROS*/

/*CALIFICAR*/
.calificar-list{
    
    
    display: flex;
    align-items: center;
    list-style: none;

    padding-top: 54px;

    display: flex;
    justify-content: space-around;
    text-align: center;
}
.calificar-list .img-calificar{
    max-width: 64px;
    max-height: 64px;
    
}
.calificar-list2{
    
    
    display: flex;
    align-items: center;
    list-style: none;

    padding-top: 7px;
    
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.btn-calificar{
    width: 94px;
    height: 19px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}
/*FIN CALIFICAR*/

/*FAVORITOS*/
.img-favorito{
    width: 64.41px;
    height: 55.71px;
    padding-left: 187.83px;
    padding-top: 2px;
}

.btn-favorito{

    display: block;
    width: 147.94px;
    height: 19.15px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    margin-left: 149.59px;

}
/*FIN FAVORITOS*/

/*REGRESAR*/
.btn-regresar{
    
    display: block;
    margin-top: 20px;
    margin-left: 160px;

    width: 109px;
    height: 24px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
   
}
/*FIN REGRESAR*/