* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Roboto",sans-serif;
}

/*INICIO HEADER*/

.nav{
    background-color: #0779C0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
}

.nav-list a:hover{
    color:white;
}

/*FIN HEADER*/

/*INICIO MAIN*/
.main{
    background-color: rgba(0, 214, 201, .15);
    height: 150px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
}

.main div{
    max-width: 70%;
    padding-left: 80px;
    padding-right: 50px;
}

.main div h1{
    font-size: 30px;
    margin-bottom: 14px;
}
.main div p{
    font-size: 24px;
    color: #000000;
    
}

.main img {
    max-width: 250px;
    border-radius: 8px;
}
/*FIN MAIN*/


/*INICIO NOSOTROS*/
.nosotros{
    background-color: #e7e5ff;
    height: 150px;
    width: 100%;

    
    padding-top: 40px;
    padding-bottom: 100px;

    display: flex;
    
    
   
}

.nosotros img {
    max-width: 450px;
    border-radius: 8px;
    padding-left: 80px;
}

.nosotros div{
    max-width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.nosotros div h1{
    font-size: 30px;
    margin-bottom: 14px;
    
}

.nosotros div p{
    font-size: 24px;
    color: #000;
}

.nosotros-list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nosotros-list li P{
    color: #000;
}

/*FIN NOSOTROS*/


/*INICIO EQUIPO*/
.equipo{
    background-color: rgba(0, 214, 201, .15);
    height: 70px;
    width: 100%;

    
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}

.equipo h1{
    font-size: 30px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    
    padding-bottom: 40px;
}

.equipo-list{
    background-color: rgba(0, 214, 201, .15);
    display: flex;
    align-items: center;
    list-style: none;

   padding-bottom: 20px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.equipo-list li img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.equipo-list p{
    font-size: 16px;
}

/*FIN EQUIPO*/


/*INICIO TESTIMONIOS*/

.testimonios{
    background-color: #e7e5ff; 
    height: 70px;
    width: 100%;

    
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}
.testimonios h1{
    font-size: 30px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    
    padding-bottom: 40px;
}

.testimonio-list{
    background-color: #e7e5ff;
    display: flex;
    align-items: center;
    list-style: none;

    padding-bottom: 50px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.testimonio-list .persona{
    font-size: 16px;
}

.testimonio-list .info{
    font-size: 14px;
    color: #000;
}

.testimonio-list img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

/*FIN TESTIMONIOS*/


/*INICIO CONTACTANOS*/
.contactanos{
    background-color: rgba(0, 214, 201, .15);
    height: 70px;
    width: 100%;

    
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}
.contactanos h1{
    font-size: 30px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    
    padding-bottom: 40px;
}

.contactanos-elements{
    padding-bottom: 15px;
    background-color: rgba(0, 214, 201, .15);
}

.contactanos-list{
    padding-left: 30%;
    
    list-style: none;
    vertical-align: top;
    
}
.contactanos-list li {
    margin-bottom: 15px;
}

.small-textbox{
    width: 35%;
    justify-content: center;
    align-items: center;
}
.big-textbox{
    width: 35%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.text{
    vertical-align: top;
    font-size: 16px;
}
.contactanos-button-list{
        padding-top: 20px;
    padding-left: 42%;
    
    list-style: none;
    vertical-align: top;
    display: flex;
    
}


.menu-item { 
    margin-right: 100px;
}
.contactanos-button{
    width: 100px;
    height: 30px;
    font-size: 16px;
}

/*FIN CONTACTANOS*/


/*INICIO REDES SOCIALES*/
.redes-sociales{
    background-color: #0779C0;
    height: 70px;
    width: 100%;

    
    padding-top: 40px;

    display: flex;
    justify-content: center;
   
}
.redes-sociales h1{
    font-size: 30px;
    margin-bottom: 14px;
    display: flex;
    justify-content:right;
    
}
/*FIN REDES SOCIALES*/


/*INICIO FOOTER*/

.redes-list{
    background-color: #0779C0;
    padding-bottom: 15px;
}

.first-list-redes{
    
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
    margin-left: 20%;
    
}

.first-list-redes li{
    
    padding-left: 5%;
}

.first-list-redes .text{
    font-size: 20px;
}

.second-list-redes{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.second-list-redes p{
    font-size: 16px;
}

.redes-img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 8px;
}
/*FIN FOOTER*/


