* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Roboto",sans-serif;
}


/*INICIO HEADER*/

.nav{
    height: 136px;
    width: 100%;
    top: 24px;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.nav-list p{
    padding-left: 25px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    text-decoration: none;
    color: #000000;
    padding: 20px;
    
}

.nav-list a img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.arrow{
    position: absolute;
    width: 38.94px;
    height: 31px;
    left: 10%;
    top: 5%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.boy{
    position: absolute;
    width: 73px;
    height: 73px;
    left: 75%;
    top: 5%;
}

.plataforma{
    left: 0%;
    right: 51.86%;
    top: 0%;
    bottom: 0%;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    

    display: flex;
    align-items: center;
    text-align: center;
}
.linea{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;

    border: 1px solid #000000;
}
/*FIN HEADER*/

.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.contenedor > div {
    margin: 10;
    width: 180px;
    text-align: center;
}

.button-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    color:#000000;
}
.button {
    background-color: rgba(211, 196, 255, 0.53);
    padding: 5px;
}